header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
    padding: 66px 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width:1400px){
        padding: 66px 40px;
    }
    @media (max-width:1080px){
        padding: 40px;
    }
    @media (max-width: 800px){
        padding: 20px;
    }

    .logo{
        width: 280px;
        transition: all .3s;
        @media (max-width:640px){
            width: 200px;
        }
        a{
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 8px;
            img{
                display: none;
            }
        }

        &:hover{
            opacity: 0.4;
        }
    }

    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .nav_box{
            // width: 100%;
            display: none;
            @media (max-width:1080px){
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                right: 0;
                background: #231815;
                padding: 100px;
            }
            ul{
                width: 640px;
                @media (max-width:1080px){
                    width: 100%;
                    display: block;
                }
                li{
                    display: inline-flex;
                    margin: 0 20px;
                    position: relative;
                    @media (max-width:1080px){
                        width: 100%;
                        display: block;
                        // text-align: center;
                    }
                    &:after{
                        content: "";
                        width: 0%;
                        height: 3px;
                        background: #231815;
                        border-radius: 10px;
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        transition: all .3s;
                    }
                    a{
                        font-size: 20px;
                        line-height: 1.2;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #fff;
                        @media (max-width:1080px){
                            text-align: center;
                            padding: 20px 0;
                            font-size: 32px;
                            letter-spacing: 2px;
                        }
                    }
                    &:hover{
                        &:after{
                            width: 100%;
                        }
                    }
                }
                li + li{
                    @media (max-width:1080px){
                        &:before{
                            content: "";
                            width: 200px;
                            height: 1px;
                            border-bottom: 1px dashed #fff;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }

        #menu-toggle{
            background-color: transparent;
            padding: 0;
            // display: none;
            @media (max-width:1080px){
                // display: block;
            }
    
            span{
                display: block;
                background: #fff;
                width: 36px;
                height: 4px;
                border-radius: 10px;
                margin: 8px 0;
                position: relative;
                transition: all .3s;
                @media (max-width: 800px){
                    width: 30px;
                    height: 3px;
                    // margin: 6px 0;
                }
            }
    
            &:hover{
                cursor: pointer;
            }
    
            &.active{
    
                span{
    
                    &:nth-child(2){
                        background-color: transparent;
                    }
    
                    &:nth-child(1){
                        transform: rotate(-220deg);
                        margin-top: 10px;
                    }
    
                    &:nth-child(3){
                        transform: rotate(220deg);
                        margin-top: -24px;
                    }
                }
    
                h6{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
    
}
.white{
    .logo{
        a{
            img.white{ display: block;}
        }
    }
    nav{
        .nav_box{
            ul{
                li{
                    a{
                        color: #fff;
                    }
                }
            }
        }

        #menu-toggle{    
            span{
                background: #fff;
            }
        }
    }
}
.black{
    .logo{
        a{
            img.black{ display: block;}
        }
    }
    nav{
        .nav_box{
            ul{
                li{
                    a{
                        color: #231815;
                        @media (max-width:1080px){
                            color: #fff;
                        }
                    }
                }
            }
        }

        #menu-toggle{    
            span{
                background: #231815;
            }
            &.active{
                span{
                    background: #fff;
                }
            }
        }
    }
}
.brown{
    .logo{
        a{
            img.brown{ display: block;}
        }
    }
    nav{
        .nav_box{
            ul{
                li{
                    a{
                        color: #C9A063;
                        @media (max-width:1080px){
                            color: #fff;
                        }
                    }
                }
            }
        }

        #menu-toggle{    
            span{
                background: #C9A063;
            }
            &.active{
                span{
                    background: #fff;
                }
            }
        }
    }
}
