@import '_setting';
@import '_header';
@import '_footer';


.theme_aboutus{
    // background-attachment: fixed;
    .container{
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        // overflow: hidden;
        @media (max-width: 1400px){
            padding: 0 40px;
        }
        @media (max-width: 800px){
            padding: 0 20px;
        }
    }
    .topic{
        padding: 220px 0 320px;
        background: url(../img/aboutus_bg.jpg) center top no-repeat;
        background-size: cover;
        text-align: left;
        h3{
            font-size: 32px;
            line-height: 1.2;
            font-weight: 600;
            letter-spacing: 3px;
            color: #fff;
            @media (max-width: 640px){
                font-size: 24px;
            }
        }
        h4{
            font-family: "Playfair Display", serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 48px;
            line-height: 1.4;
            letter-spacing: 2px;
            color: #fff;
            @media (max-width: 640px){
                font-size: 28px;
            }
        }
    }
    
    .content{
        background: url(../img/aboutus-content_bg.jpg) right top no-repeat;
        background-size: contain;
        // padding: 100px 0 0;
        overflow: hidden;
        @media (max-width: 1360px){
            background: url(../img/aboutus-content_bg.jpg) center bottom no-repeat;
            background-size: auto 50%;
        }
        &.brown{
            background: #C9A063;
        }
        .left{
            width: 52%;
            float: left;
            @media (max-width: 1360px){
                width: 100%;
                float: unset;
            }
        }
        .right{
            width: 48%;
            float: right;
            @media (max-width: 1360px){
                width: 100%;
                max-width: 640px;
                float: unset;
                margin: 0 auto;
            }
        }
        .title{
            padding-top: 100px;
            h3{
                width: 100%;
                font-size: 32px;
                line-height: 1.2;
                font-weight: 600;
                letter-spacing: 3px;
                @media (max-width: 640px){
                    font-size: 24px;
                }
            }
            h4{
                width: 100%;
                font-size: 48px;
                line-height: 1.4;
                font-weight: 600;
                letter-spacing: 8px;
                margin-top: 20px;
                @media (max-width: 640px){
                    font-size: 36px;
                }
            }
        }
        .wording{
            margin-top: 60px;
            // overflow: hidden;
            display: table;
            padding-bottom: 100px;
            @media (max-width: 1360px){
                padding-bottom: 0;
            }
            @media (max-width: 640px){
                margin-top: 40px;
            }

            h5{
                width: 480px;
                float: left;
                font-size: 28px;
                line-height: 1.4;
                font-weight: 600;
                letter-spacing: 3px;
                &.w100{
                    width: 100%;
                }
                @media (max-width: 1080px){
                    width: 100%;
                }
            }
            p{
                width: calc(100% - 520px);
                float: right;
                font-family: "Noto Sans TC", sans-serif;
                font-size: 18px;
                line-height: 1.6;
                text-align: justify;
                letter-spacing: 4px;
                padding-left: 60px;
                position: relative;
                &.w100{
                    width: 100%;
                    margin-top: 40px;
                }
                @media (max-width: 1080px){
                    width: 100%;
                    margin-top: 46px;
                }
                @media (max-width: 640px){
                    padding-left: 24px;
                }
                &:before{
                    content: "";
                    width: 1px;
                    height: 100%;
                    background: #231815;
                    position: absolute;
                    left: 0;
                    top: 0;
                    @media (max-width: 1360px){
                        // height: 100%;
                    }
                }
            }
            p + p{
                margin-top: 40px;
                @media (max-width: 640px){
                    margin-bottom: 60px;
                }
            }
            // &.w100{
            //     width: 80%;
            //     margin: 0 auto;
            //     p{
            //         width: 100%;
            //         &:before{
            //             display: none;
            //         }
            //     }
            //     p + p{
            //         margin-top: 60px;
            //     }
            // }
        }
    }
    .slogan{
        padding: 160px 0;
        background: url(../img/aboutus-slogan_bg.jpg) center top no-repeat;
        background-size: cover;
        // text-align: left;
        @media (max-width: 800px){
            background: url(../img/aboutus-slogan_bg-mob.jpg) center top no-repeat;
        }
        @media (max-width: 640px){
            padding: 100px 0;
        }
        h3{
            width: 500px;
            margin: 0 auto;
            font-size: 32px;
            line-height: 1.6;
            font-weight: 600;
            letter-spacing: 8px;
            color: #fff;
            @media (max-width: 640px){
                width: 100%;
                font-size: 24px;
            }
        }
        p{
            width: 80%;
            margin: 0 auto;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
            letter-spacing: 4px;
            padding-left: 60px;
            margin-top: 100px;
            color: #fff;
            @media (max-width: 1080px){
                width: 100%;
                padding: 40px 40px 0;
            }
            @media (max-width: 640px){
                margin-top: 60px;
                padding: 40px 0 0;
            }
        }

        p + p{
            margin-top: 40px;
            @media (max-width: 640px){
                margin-top: 0;
            }
        }
    }
}
