@import '_setting';
@import '_header';
@import '_footer';


.home_kv{
    width: 100%;
    height: 0;
    padding-bottom: calc(1080/1920*100%);
    position: relative;
    overflow: hidden;

    &:before{
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(43,41,39,0.85);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .photo{
        &.pc{ display: block;}
        &.mob{ display: none;}
        @media (max-width:960px){
            &.pc{ display: none;}
            &.mob{ display: block;}
        }
    }

    .home_kv_logo{
        width: 420px;
        height: 325px;
        position: absolute;
        z-index: 12;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        animation: logo_ani 3s 1s both;
        @media (max-width:1400px){
            width: 360px;
            height: 370px;
        }
        @media (max-width:600px){
            width: 280px;
            height: 280px;
            padding-bottom: 0;
        }
        @media (max-width:480px){
            width: 240px;
            height: 280px;
        }
        img{
            width: 254px;
            margin: 0 auto;
            @media (max-width:960px){
                width: 62%;
            }
            @media (max-width:600px){
                width: 180px;
            }
            @media (max-width:480px){
                width: 160px;
            }
        }
        h2{
            font-size: 40px;
            font-weight: 600;
            text-align:justify; 
            text-align-last:justify;
            white-space:nowrap;
            margin-top: 45px;
            @media (max-width:800px){
                font-size: 6vw;
            }
            @media (max-width:600px){
                font-size: 32px;
            }
            @media (max-width:480px){
                font-size: 28px;
            }

        }
        p{
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
            margin-top: 16px;
            letter-spacing: 2px;
            @media (max-width:1400px){
                font-size: 20px;
            }
            @media (max-width:800px){
                font-size: 3vw;
            }
            @media (max-width:600px){
                font-size: 12px;
            }
            @media (max-width:480px){
                font-size: 12px;
            }
        }
    }
}

.home_cases{
    padding: 120px 0;
    padding-left: calc(260/1920*100%);
    position: relative;
    background: #3E3A39;
    .home_cases_box{
        overflow: hidden;
        position: relative;
        .topic{
            position: absolute;
            z-index: 2;
            top: 52%;
            left: 0%;
            user-select: none;
            .title_en{
                letter-spacing: 2px;
                white-space:nowrap;
                span{
                    font-size: 130px;
                    line-height: 1.5;
                    font-weight: 600;
                    font-family: "Playfair Display", serif;
                    color: rgba(255,255,255,0.1);
                }
            }
        }

        .content{
            width: calc(1440/1920*100%);
            float: right;
            .caseitem{
                position: relative;
                overflow: hidden;
                padding-left: 20px;
                .photogroup{
                    width: 105%;
                    display: inline-flex;
                    position: relative;
                    .photo{
                        width: calc(640/1280*100%);
                        padding: 0 32px;
                    }
                    .photo_left{
                        width: calc(320/1280*100%);
                    }
                    .photo_right{
                        width: calc(320/1280*100%);
                        position: absolute;
                        bottom: 0;
                        right: 0%;
                    }
                }
                .info{
                    width: calc(320/1400*100%);
                    position: absolute;
                    z-index: 10;
                    bottom: 0;
                    left: 20px;
                    h5 {
                        font-size: 26px;
                        line-height: 1.4;
                        font-weight: 600;
                        letter-spacing: 2px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #b9b9b9;
                    }
                    
                    p{
                        font-size: 18px;                        
                        line-height: 1.4;
                        font-weight: 400;
                        margin-top: 12px;
                        letter-spacing: 2px;
                        font-family: "Noto Sans TC", sans-serif;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #b9b9b9;
                    }
                    .link{
                        a{
                            color: #b9b9b9;
                            text-decoration: underline;
                            margin-top: 12px;
                            font-family: "Playfair Display", serif;
                            letter-spacing: 1px;
                            font-size: 14px;
                            font-weight: 500;
                        }

                    }
                }
            }
        }
        
        .swiper-button-prev, .swiper-button-next{
            width: 60px;
            height: 60px;
            position: absolute;
            right: auto;
            top: auto;
            left: 0;
            bottom: 0;
            background: #C9A063;
            text-align: center;
            span{
                color: #3E3A39;
                font-size: 28px;
                line-height: 60px;
            }
        }
        .swiper-button-next{
            left: 76px;
        }
    }

}

.home_contactus .topic .title_en span.animate_e{
    margin-right: -8px;
}

.slide-animation {
    animation: slide-zoom 10s ease-out alternate infinite;
}

@keyframes slide-zoom {
    0% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes logo_ani{
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes photo_ani{
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}